@inject NavigationManager _nav

@page "/todolist"


<div class="background-grad p-5 m-5">
<div class="alert alert-primary" role="alert">
    <h3 class="text-center">FNSHR</h3>

</div>

<div class="d-grid gap-2">
    <input class="form-control form-control.lg" type="text" @bind="newTask" />
    <button class="btn btn-primary" @onclick="@(()=>_nav.NavigateTo("/AddTask"))">Add Task</button>
</div>

<hr/>

<ol class="list-group">
    @foreach(string task in toDoList)
{
       <li class="list-group-item">@task <button class="btn btn-primary btn-sm float-end" @onclick="(() => completeTask(task))">Mark as complete</button></li>
}
</ol>
</div>


<style type="text/css">
    
    .background-grad{
        background-color: #8BC6EC;
        background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    }
</style>
@code {

    List<string> toDoList = new() { "empty list..." };
    string newTask = "";

    void addTask()
    {

       if(string.IsNullOrWhiteSpace(newTask) == false)
        {
            toDoList.Add(newTask);
            newTask = "";
        } 
       
    }

    void completeTask(string completedTask)
    {
        toDoList.Remove(completedTask);
    }
  }

