@page "/todolist"



<div class="alert alert-primary" role="alert">
    <h3 class="text-center">FNSHR</h3>
</div>

<input type="text" @bind="newTask"/>
<button @onclick="addTask">Add Task</button>
<ol>
    @foreach(string task in toDoList)
{
            <li>@task <button @onclick="(() => completeTask(task))">Mark as complete</button></li>
}
</ol>

@code {

    List<string> toDoList = new() { "empty list..." };
    string newTask = "";

    void addTask()
    {
        if(string.IsNullOrWhiteSpace(newTask) == false)
        {
            toDoList.Add(newTask);
            newTask = "";
        }
       
    }

    void completeTask(string completedTask)
    {
        toDoList.Remove(completedTask);
    }
}

